{% extends 'app/base.html' %}
{% load static %}


{% block body %}

   <div class="tabelview" >
    <table class="table" >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Hotel Id</th>
          <th scope="col">Hotel Name</th>
        </tr>
      </thead>
      <tbody>
        {% for hotel in Hotels %}
        <tr>
          <th scope="row">{{ hotel.id }}</th>
          <td>  <a href="/explore/{{ hotel.id }}"> {{ hotel.name }} </a> </td>
        </tr>
        {% endfor %}
  </div>

{% endblock %}
