{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block body %}

<div class="row justify-content-center" style=" padding: 70px 0px 0px 0px;">
    <div class="col-4 card">
    <h2  class="mt-4" style="text-align: center;">Upload CSV files</h2>
    <form class= "form-group" method="post" enctype="multipart/form-data" style=" padding: 20px;">

        {% csrf_token %}
        <div>
             {{ form.files|as_crispy_field }}
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
   
    </form>
    </div>
</div>
{% endblock %}
