{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block body %}

<div class="row justify-content-center" style=" padding: 70px 0 20px 0;">
    <div class="col-4">
    <h2  class="mt-4" style="text-align: center;">Upload CSV files</h2>
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div>
             {{ form.files|as_crispy_field }}
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
        
    </form>
    </div>
</div>
{% endblock %}
